asgiref==3.8.1
attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Django==4.2.6
django-jazzmin==3.0.0
python-dotenv==1.0.1
requests==2.31.0
humanfriendly==10.0
idna==3.7
pytz==2024.1
tzdata==2024.1
sqlparse==0.5.0
urllib3==2.2.1
django-admin-honeypot-updated-2021==1.2.0
django-auto-logout==0.5.1
django-silk==5.1.0
django-request==1.6.3
dj_user_login_history==1.0.5
django-schema-graph==3.1.0
django-extensions